<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * MageWorx SeoReports Extension
 * 
 * @category   MageWorx
 * @package    MageWorx_SeoReports
 * @copyright  Copyright (c) 2017 MageWorx (http://www.mageworx.com/)
 */
 -->
<config>
    <modules>
        <MageWorx_SeoReports>
            <version>3.18.0</version>
        </MageWorx_SeoReports>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageWorx_SeoReports after="Mage_Adminhtml">MageWorx_SeoReports_Adminhtml</MageWorx_SeoReports>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <mageworx_seoreports>
                <class>MageWorx_SeoReports_Model</class>
                <resourceModel>mageworx_seoreports_resource</resourceModel>
            </mageworx_seoreports>
            <mageworx_seoreports_resource>
                <class>MageWorx_SeoReports_Model_Resource</class>
                <entities>
                    <product>
                        <table>mageworx_seoreports_report_product</table>
                    </product>
                    <category>
                        <table>mageworx_seoreports_report_category</table>
                    </category>
                    <cms>
                        <table>mageworx_seoreports_report_cms</table>
                    </cms>
                </entities>
            </mageworx_seoreports_resource>
        </models>
        <resources>
            <mageworx_seoreports_setup>
                <setup>
                    <module>MageWorx_SeoReports</module>
                </setup>
            </mageworx_seoreports_setup>
        </resources>
        <blocks>
            <mageworx_seoreports>
                <class>MageWorx_SeoReports_Block</class>
            </mageworx_seoreports>           
        </blocks>
        <helpers>
            <mageworx_seoreports>
                <class>MageWorx_SeoReports_Helper</class>
            </mageworx_seoreports>
        </helpers>       
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mageworx_seoreports>
                    <file>mageworx_seoreports.xml</file>
                </mageworx_seoreports>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageWorx_SeoReports>
                    <files>
                        <default>MageWorx_SeoReports.csv</default>
                    </files>
                </MageWorx_SeoReports>
            </modules>
        </translate>    
        <events>
            <catalog_product_save_after>
                <observers>
                    <mageworx_seoreports_modify_product_report>
                        <type>singleton</type>
                        <class>MageWorx_SeoReports_Model_Observer</class>
                        <method>productSaveAfter</method>
                    </mageworx_seoreports_modify_product_report>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <mageworx_seoreports_modify_category_report>
                        <type>singleton</type>
                        <class>MageWorx_SeoReports_Model_Observer</class>
                        <method>categorySaveAfter</method>
                    </mageworx_seoreports_modify_category_report>
                </observers>
            </catalog_category_save_after>
            <cms_page_save_after>
                <observers>
                    <mageworx_seoreports_modify_cms_report>
                        <type>singleton</type>
                        <class>MageWorx_SeoReports_Model_Observer</class>
                        <method>cmsPageSaveAfter</method>
                    </mageworx_seoreports_modify_cms_report>
                </observers>
            </cms_page_save_after>
        </events>     
    </adminhtml>
    <default>
        <mageworx_seo>
            <seoreports>
                <max_title_length>70</max_title_length>
                <max_description_length>150</max_description_length>
            </seoreports>
        </mageworx_seo>
    </default>
</config>