<?xml version="1.0"?>
<config>
    <modules>
        <Launch_Bellfield>
            <version>1.0.0.0</version>
        </Launch_Bellfield>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Launch_Bellfield>
                    <files>
                        <default>Launch_Bellfield.csv</default>
                    </files>
                </Launch_Bellfield>
            </modules>
        </translate>
        <routers>
            <bellfield>
                <use>standard</use>
                <args>
                    <module>Launch_Bellfield</module>
                    <frontName>bellfield</frontName>
                </args>
            </bellfield>
        </routers>
        <layout>
            <updates>
                <bellfield>
                    <file>bellfield.xml</file>
                </bellfield>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <bellfieldadmin>
                <use>admin</use>
                <args>
                    <module>Launch_Bellfield</module>
                    <frontName>bellfieldadmin</frontName>
                </args>
            </bellfieldadmin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Launch_Bellfield>
                    <files>
                        <default>Launch_Bellfield.csv</default>
                    </files>
                </Launch_Bellfield>
            </modules>
        </translate>
        <layout>
            <updates>
                <bellfield>
                    <file>bellfield.xml</file>
                </bellfield>
            </updates>
        </layout>
        <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <bellfield>
                                        <title>Bellfield - Extensions</title>
                                    </bellfield>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    	</acl>

    </adminhtml>
    <global>
        <models>
            <bellfield>
                <class>Launch_Bellfield_Model</class>
                <resourceModel>bellfield_mysql4</resourceModel>
            </bellfield>
            <bellfield_mysql4>
                <class>Launch_Bellfield_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>bellfield_log</table>
                    </log>
                </entities>
            </bellfield_mysql4>
        </models>

        <resources>
            <bellfield_setup>
                <setup>
                    <module>Launch_Bellfield</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bellfield_setup>
            <bellfield_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bellfield_write>
            <bellfield_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bellfield_read>
        </resources>
        <blocks>
            <bellfield>
                <class>Launch_Bellfield_Block</class>
            </bellfield>            
        </blocks>
        <helpers>
            <bellfield>
                <class>Launch_Bellfield_Helper</class>
            </bellfield>
            <onestepcheckout>
                <rewrite>
                <checkout>Launch_Bellfield_Helper_Osc</checkout>
                </rewrite>

            </onestepcheckout>
            
            <onestepcheckout>
                <rewrite>
                <checkout>Launch_Bellfield_Helper_Osc</checkout>
                </rewrite>

            </onestepcheckout>
            
        </helpers>
   </global>
    <default>
         <bellfieldimport>
         	<general>
	         	<media_import>media/import/</media_import>
	         	<media_import_images>media/import/Images/</media_import_images>
	         	<admin_email></admin_email>
	         	<server_email></server_email>
         	</general>
         </bellfieldimport>


    </default>
</config>