<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <DigitalWindow_AwinTracking>
            <version>1.0.1</version>
        </DigitalWindow_AwinTracking>
    </modules>
    <global>
        <models>
            <DigitalWindow_AwinTracking>
                <class>DigitalWindow_AwinTracking_Model</class>
            </DigitalWindow_AwinTracking>
        </models>
        <helpers>
            <AwinTracking>
                <class>DigitalWindow_AwinTracking_Helper</class>
            </AwinTracking>
        </helpers>
        <blocks>
            <DigitalWindow_AwinTracking>
                <class>DigitalWindow_AwinTracking_Block</class>
            </DigitalWindow_AwinTracking>
        </blocks>
        <events>
            <admin_system_config_changed_section_AwinTracking_Datafeed>
                <observers>
                    <DigitalWindow_AwinTracking>
                        <type>singleton</type>
                        <class>DigitalWindow_AwinTracking_Model_Observer</class>
                        <method>schedule</method>
                    </DigitalWindow_AwinTracking>
                </observers>
            </admin_system_config_changed_section_AwinTracking_Datafeed>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <DigitalWindow_AwinTracking>
                    <file>digitalwindow_awintracking.xml</file>
                </DigitalWindow_AwinTracking>
            </updates>
        </layout>
    </frontend>
    <default>
        <AwinTracking_options>
            <section_three>
                <activate_tracking_code>Yes</activate_tracking_code>
                <tax_inclusive>No</tax_inclusive>
                <currency>Yes</currency>
                <enable_dedupe>No</enable_dedupe>
                <default_value>aw</default_value>                
                <cookie_length>30</cookie_length>
                <param_key>source</param_key>
            </section_three>      
        </AwinTracking_options>
    </default>
</config>