<?xml version="1.0"?>
<!--
/**
 * MageWorx
 * MageWorx_SeoRedirects Extension
 *
 * @category   MageWorx
 * @package    MageWorx_SeoRedirects
 * @copyright  Copyright (c) 2017 MageWorx (http://www.mageworx.com/)
 */
 -->
<config>
    <modules>
        <MageWorx_SeoRedirects>
            <version>1.2.0</version>
        </MageWorx_SeoRedirects>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MageWorx_SeoRedirects after="Mage_Adminhtml">MageWorx_SeoRedirects_Adminhtml</MageWorx_SeoRedirects>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <global>
        <models>
            <mageworx_seoredirects>
                <class>MageWorx_SeoRedirects_Model</class>
                <resourceModel>mageworx_seoredirects_resource</resourceModel>
            </mageworx_seoredirects>
            <mageworx_seoredirects_resource>
                <class>MageWorx_SeoRedirects_Model_Resource</class>
                <entities>
                    <redirect_product>
                        <table>mageworx_seoredirects_product_redirect</table>
                    </redirect_product>
                    <redirect_custom>
                        <table>mageworx_seoredirects_custom_redirect</table>
                    </redirect_custom>
                </entities>
            </mageworx_seoredirects_resource>           
        </models>
        <resources>
            <mageworx_seoredirects_setup>
                <setup>
                    <module>MageWorx_SeoRedirects</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </mageworx_seoredirects_setup>
        </resources>
        <blocks>
            <mageworx_seoredirects>
                <class>MageWorx_SeoRedirects_Block</class>
            </mageworx_seoredirects>
        </blocks>
        <helpers>
            <mageworx_seoredirects>
                <class>MageWorx_SeoRedirects_Helper</class>
            </mageworx_seoredirects>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <mageworx_do_custom_redirect>
                        <type>singleton</type>
                        <class>mageworx_seoredirects/observer_customRedirectMaker</class>
                        <method>redirect</method>
                    </mageworx_do_custom_redirect>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <mageworx_do_product_redirect>
                        <type>singleton</type>
                        <class>mageworx_seoredirects/observer_productRedirectMaker</class>
                        <method>redirect</method>
                    </mageworx_do_product_redirect>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <mageworx_seoredirects>
                    <file>mageworx_seoredirects.xml</file>
                </mageworx_seoredirects>
            </updates>
        </layout>
        <events>
            <catalog_product_delete_before>
                <observers>
                    <mageworx_create_redirect_for_product>
                        <class>mageworx_seoredirects/observer_productRedirectCreator</class>
                        <method>createRedirect</method>
                    </mageworx_create_redirect_for_product>
                    <mageworx_update_custom_redirect>
                        <class>mageworx_seoredirects/observer_customRedirect</class>
                        <method>updateCustomRedirect</method>
                    </mageworx_update_custom_redirect>
                </observers>
            </catalog_product_delete_before>

            <mageworx_seoextended_seocategory_grid_preparemassaction>
                <observers>
                    <mageworx_seobreadcrumbs_add_redirect_priority_seocategory_massaction>
                        <type>singleton</type>
                        <class>MageWorx_SeoRedirects_Model_Observer_SeoCategory</class>
                        <method>addMassactionToSeoCategoryGrid</method>
                    </mageworx_seobreadcrumbs_add_redirect_priority_seocategory_massaction>
                </observers>
            </mageworx_seoextended_seocategory_grid_preparemassaction>

            <mageworx_seoextended_seocategory_grid_preparecolumns>
                <observers>
                    <mageworx_seobreadcrumbs_add_redirect_priority_seocategory_grid>
                        <type>singleton</type>
                        <class>MageWorx_SeoRedirects_Model_Observer_SeoCategory</class>
                        <method>addColumnToSeoCategoryGrid</method>
                    </mageworx_seobreadcrumbs_add_redirect_priority_seocategory_grid>
                </observers>
            </mageworx_seoextended_seocategory_grid_preparecolumns>

            <mageworx_seoextended_seocategory_massedit_preparecolumns>
                <observers>
                    <mageworx_seobreadcrumbs_add_redirect_priority_seocategory_massedit>
                        <type>singleton</type>
                        <class>MageWorx_SeoRedirects_Model_Observer_SeoCategory</class>
                        <method>addColumnToSeoCategoryMassEdit</method>
                    </mageworx_seobreadcrumbs_add_redirect_priority_seocategory_massedit>
                </observers>
            </mageworx_seoextended_seocategory_massedit_preparecolumns>

            <mageworx_seoextended_seocategory_grid_preparecollection>
                <observers>
                    <mageworx_seobreadcrumbs_add_redirect_priority_seocategory_grid_collection>
                        <type>singleton</type>
                        <class>MageWorx_SeoRedirects_Model_Observer_SeoCategory</class>
                        <method>addFieldToSeoCategoryGrid</method>
                    </mageworx_seobreadcrumbs_add_redirect_priority_seocategory_grid_collection>
                </observers>
            </mageworx_seoextended_seocategory_grid_preparecollection>

            <mageworx_seoextended_seocategory_massedit_preparecollection>
                <observers>
                    <mageworx_seobreadcrumbs_add_redirect_priority_seocategory_massedit_collection>
                        <type>singleton</type>
                        <class>MageWorx_SeoRedirects_Model_Observer_SeoCategory</class>
                        <method>addFieldToSeoCategoryGrid</method>
                    </mageworx_seobreadcrumbs_add_redirect_priority_seocategory_massedit_collection>
                </observers>
            </mageworx_seoextended_seocategory_massedit_preparecollection>
        </events>
        <translate>
            <modules>
                <MageWorx_SeoRedirects>
                    <files>
                        <default>MageWorx_SeoRedirects.csv</default>
                    </files>
                </MageWorx_SeoRedirects>
            </modules>
        </translate>     
    </adminhtml>
    <default>
        <mageworx_seo>
            <seoredirects>
                <enabled_for_dead_product>1</enabled_for_dead_product>
                <product_redirect_by_priority>0</product_redirect_by_priority>
                <product_redirect_type>301</product_redirect_type>
                <product_redirect_count_stable_day>90</product_redirect_count_stable_day>
                <custom_redirect_enabled>1</custom_redirect_enabled>
                <custom_redirect_enabled_for_deleted_entities>1</custom_redirect_enabled_for_deleted_entities>
            </seoredirects>
        </mageworx_seo>
    </default>
    <crontab>
        <jobs>
            <mageworx_seoredirects_product_clean>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mageworx_seoredirects/observer_cron_cleanProductRedirect::scheduledCleanRedirects</model>
                </run>
            </mageworx_seoredirects_product_clean>
        </jobs>
    </crontab>
</config>